.roundLogo {
	border-radius: 50%;
	height: 45px;
	width: 45px;
}

.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px 10px 20px;
	background-color: #2F3136;
	border: solid 1px;
}
