.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
	height: 100%;
	width: 100%;
	background: url("../public/images/plaquette-tba-recto.png") center no-repeat;
	background-size: 80%;
	// animation: pulse 3s linear infinite;
}

@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	80% {
		transform: scale(0.9);
	}
	85% {
		transform: scale(1);
	}
	90% {
		transform: scale(0.9);
	}
	95% {
		transform: scale(0.95);
	}
	100% {
		transform: scale(0.9);
	}
}
